@use "var";
%card {
  position: relative;
  word-break: break-word;
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  margin: auto;
  gap: 0.7rem;
  padding: 0.7em;
  box-sizing: border-box;
  header {
    font-size: 0.75rem;
    .posted-at {
      position: absolute;
      right: 35px;
      top: 16px;
      z-index: 2;
    }
  }
  a {
    text-decoration: none;
  }
  .content a {
    text-decoration: underline;
  }
  img {
    margin: auto;
  }
  .buttons {
    display: flex;
    button {
      cursor: pointer;
      background-color: transparent;
      border: none;
    }
    a,
    button {
      transition: 0.3s;
    }
    button:hover,
    a:hover {
      transform: scale(1.1);
    }
  }
}
