@use "var";
.button {
  text-align: center;
  text-decoration: none;
  margin: auto;
  padding: 0.5rem;
  background-color: var.$primary;
  border: 0;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background-color: darken($color: var.$primary, $amount: 10%);
  }
}
.button-radius {
  @extend .button;
  border-radius: 25px;
}
