@use "var";
.button {
  text-align: center;
  text-decoration: none;
  margin: auto;
  padding: 0.5rem;
  border: 0;
  cursor: pointer;
  transition: 0.3s;
}
.button-colored {
  @extend .button;
  background-color: var.$primary;
  &:hover {
    background-color: lighten($color: var.$primary, $amount: 10%);
  }
}
.button-radius {
  @extend .button;
  border-radius: 15px;
}
