@use "var";
@use "Form";
@use "component";
.comments {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 70rem;
  max-width: 100%;
  > header {
    font-size: 2rem;
  }
  > button {
    @extend .button-radius;
    @extend .button-colored;
    min-width: 15rem;
  }
  .comments-buttons {
    width: 100%;
    font-size: 1.2em;
    margin: 0.5em auto;
    a {
      @extend .button-radius;
      width: 15em;
      max-width: 60%;
      display: block;
      margin: auto;
      padding: 0.5em 2em;
      background-color: var.$background-2;
      &:hover {
        background-color: var.$background-3;
      }
    }
  }
  .comment-form {
    margin: auto;
    padding: 1rem;
    box-sizing: border-box;
    min-width: 100%;
    .editor {
      .ql-editor {
        font-size: 1.2rem;
      }
    }
  }
}
