@use "var";
.form {
  background-color: darken($color: var.$background-2, $amount: 4%);
  display: flex;
  flex-direction: column;
  width: 40em;
  max-width: 95%;
  margin: 2em auto;
  padding: 2rem;
  box-sizing: border-box;
  border-radius: 6px;
  font-size: 1.2rem;
  gap: 0.5rem;
  position: relative;
  header {
    color: var.$primary;
    font-weight: normal;
    font-size: 2.5rem;
  }
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    color: #111;
  }
  input[type="submit"],
  button {
    cursor: pointer;
    width: fit-content;
    margin: auto;
    padding: 0.5rem;
    border: 2px solid transparent;
    border-radius: 4px;
    background-color: var.$primary;
    &:hover,
    &:focus {
      border-color: yellowgreen;
    }
    &:disabled {
      filter: brightness(0.5);
    }
  }
  img {
    border-radius: 3px;
    border: 3px solid var.$primary;
  }
  .buttons {
    * {
      margin: 0 !important;
    }
    display: flex;
    justify-content: space-between;
  }
  .delete {
    background-color: rgb(152, 0, 0);
  }
  .or {
    display: flex;
    align-items: center;
    gap: 5px;
    hr {
      flex-basis: 50%;
      margin: 0 auto;
    }
  }
  .facebook {
    display: flex;
    align-items: center;
    background-color: #3f62a9;
    i {
      margin-right: 10px;
    }
  }
  ul {
    list-style-type: "- ";
    padding-left: 1rem;
  }
  .error,
  .error * {
    margin: 0;
    color: tomato;
    font-size: 1rem;
  }
}

// https://www.w3schools.com/howto/howto_css_custom_checkbox.asp

/* Customize the label (the container) */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: var.$primary;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
