@use "var";
@use "card";
.friend-card {
  @extend %card;
  .user-address {
    span {
      font-size: 1.7rem;
    }
    img {
      width: 5rem;
    }
  }
  background-color: var.$background-1;
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 3fr;
}
.not-viewed {
  background-color: var.$background-3;
}
