@use "var";
@use "card";
.friend-card {
  @extend %card;
  .user-address {
    span {
      font-size: 1.7rem;
    }
    img {
      width: 5rem;
    }
  }
  background-color: var.$background-1;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
