@use "component";
@use "var";

.friend-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  width: 100%;
  > * {
    flex-basis: 10em;
  }
  .friend-button {
    @extend .button-radius;
    @extend .button-colored;
    margin: 0;
  }
  .remove-fr {
    @extend .button-radius;
    margin: 0;
    background-color: transparent;
    color: var.$text;
    border: 1px solid var.$text;
    &:hover {
      background-color: var.$text;
      color: var.$background-1;
    }
  }
}
