@use "component";
@use "var";

.friend-buttons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  .friend-button {
    @extend .button-radius;
    @extend .button-colored;
    width: 10rem;
  }
  .remove-fr {
    @extend .button-radius;
    width: 10rem;
    background-color: transparent;
    color: var.$text;
    border: 1px solid var.$text;
    &:hover {
      background-color: var.$text;
      color: var.$background-1;
    }
  }
}
