@use "var";
@use "component";
@use "card";
$width: 40em;
.profile-page {
  padding: 0.7rem;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 40rem;

  border-radius: 4px;
  overflow: hidden;
  .user {
    background-color: var.$background-1;
    margin: auto;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 0.4em;
    .friend-buttons {
      justify-content: center;
    }
    > img {
      width: 100%;
      border-radius: 50%;
      border: 3px solid var.$primary;
    }
    > h1 {
      font-size: 3rem;
    }
  }
  .activity {
    margin: auto;
    background-color: var.$background;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    .nav-buttons {
      display: flex;
      flex-direction: row;
      > * {
        flex: 1;
        @extend .button;
        @extend .button-colored;
        background-color: var.$background-2;
        transition: 0.3s;
        &:hover {
          background-color: lighten($color: var.$background-2, $amount: 10%);
        }
        &.active {
          color: var.$primary;
        }
      }
    }
    > * {
      min-width: 100%;
    }
    .posts {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      .post-card {
        box-sizing: border-box;
        .content {
          margin-top: 1em;
        }
      }
    }
    .comments {
      .comment {
        header {
          margin-top: 2.5em;
          font-size: 0.8em;
        }
      }
    }
    .friends {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
    .load-more {
      @extend .button-radius;
      @extend .button-colored;
      width: 15em;
      max-width: 70%;
      margin: auto;
    }
  }
}
