.user-address {
  position: relative;
  a {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
    color: floralwhite;
    font-size: 1.2rem;
  }
  a:hover {
    text-decoration: underline;
    img {
      filter: brightness(0.9);
    }
  }
  img {
    border-radius: 50%;
    width: 3rem;
    max-width: 3em !important;
  }
  .posted-at {
    left: 60px;
    top: 40px !important;
  }
}
