@use "/src/components/style/var";
* {
  color: var.$text;
}
body {
  background-color: var.$background;
}
a {
  font-style: normal;
}
.App {
  max-width: 100%;
}
.notification {
  font-size: 1.1em;
  color: var.$text;
  box-shadow: none;
  border-radius: 7px;
}
